/* Style the navigation bar */
*{
  font-family: monospace;
}
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: right;
  text-align: right;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #00BFFF;
}

/* Current/active navbar link */
.active {
  background-color: #04AA6D;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: flex;
  }
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  margin-left: 8%;
  margin-top: 5%;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: center;
  width: 60%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: center;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
#Web_1920__1 {
  position: absolute;
  width: 1914px;
  height: 1694px;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  --web-view-name: Web 1920 – 1;
  --web-view-id: Web_1920__1;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#Rectangle_1 {
  fill: rgba(77,205,214,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_1 {
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 116px;
  left: 0px;
  top: 0px;
}